body {
    margin: 0 auto;
}
h1 {
    margin: 0;
    padding: 0;
}

.www,
.qqq {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 100px;
}
.qqq {
    justify-content: center;
}
input {
    width: 210px;
    height: 120px;
    background-color: lightblue;
    border-radius: 20px;
}
.one,
.two,
.three {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    top: 290px;
}

.four {
    display: flex;
    font-size: 92px;
    margin: 0;
    padding: 0;
}