.main {
    margin: 30px auto;
    width: 1170px;
    background-color: rgb(213, 213, 213);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: solid 2px black;
    border-radius: 30px;
    font-size: 24px;
    padding-bottom: 10px;
}
.button,
.checkbox,
.input,
.reset {
    border: solid 2px black;
    border-radius: 10px;
    margin: 20px;
}
.button,
.checkbox,
.reset {
    width: 150px;
    height: 60px;
    background-color: rgb(108, 228, 207);
    font-size: 24px;
    color: rgb(95, 95, 95);
    cursor: pointer;
}
.checkbox{
    margin-top: 40px;
}
.button:hover,
.checkbox:hover,
.reset:hover,
.checkbox:hover,
.button:focus,
.checkbox:focus,
.reset:focus,
.checkbox:focus {
    background-color: rgb(69, 115, 144);
    color: aliceblue;
    box-shadow: 4px 8px 20px 4px rgba(0, 0, 0, 0.8);
    transition: 0.8s;
    outline: none;
}
.button:active,
.checkbox:active,
.reset:active,
.checkbox:active {
    background-color: rgb(108, 228, 207);
    color: rgb(95, 95, 95);
    box-shadow: none;
    transition: 0.2s;
}
.input {
    width: 550px;
    outline: none;
    text-align: center;
    font-size: 24px;
}
.todo {
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 150px;
    border: solid 2px black;
    border-radius: 18px;
    margin: 16px;
    text-align: center;
}
.checked {
    background-color:  rgb(146, 146, 146);
}
.checked .innerText {
    text-decoration: line-through;
}
.text {
    margin: 10px;
    margin-top: 36px;
    color: rgb(95, 95, 95);
}
.innerText {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: white;
    width: 500px;
    height: 90px;
    border-radius: 6px;
    color: rgb(95, 95, 95);
    overflow: scroll;
    overflow-wrap: anywhere;
    align-items: center;
}
.date {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: white;
    width: 120px;
    height: 30px;
    padding-top: 8px;
    border-radius: 6px;
    margin-right: 25px;
    color: rgb(95, 95, 95);
}
.wrapper {
    max-height: 670px;
    padding: 10px;
    overflow: auto;
}
