.section{
    background-color: darkgrey;
    border-radius: 5%;
    border: 6px solid black;
}
.header{
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.leftHeader{
    width: 25%;
    height: 80%;
    background-color: aqua;
    border: 6px solid black;
    border-radius: 5%;
}
.middleHeader{
    width: 35%;
    height: 80%;
    background-color: aliceblue;
    border: 6px solid black;
    border-radius: 5%;
}
.rightHeader{
    width: 25%;
    height: 80%;
    background-color: aqua;
    border: 6px solid black;
    border-radius: 5%;
    cursor: pointer;
}

.body{
    width: 90%;
    height: 30%;
    border: 6px solid black;
    border-radius: 5%;
    position: relative;
}
.cross{
    width: 15%;
    height: 10%;
    background-color: aqua;
    border: 6px solid black;
    border-radius: 5%;
    justify-content: flex-end;
    text-align: right;
    position: absolute;
    right: 5%;
    top: 5%;
    text-align: center;
}

.text{
    height: 25%;
    width: 50%;
    background-color: beige;
    position: absolute;
    right: 50%;
    top: 50%;
    text-align: center;
}

.date{
    height: 25%;
    width: 16%;
    background-color: beige;
    position: absolute;
    right: 3%;
    bottom: 3%;
    text-align: center;
}






/* EXTREME */


.extreme__header{
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
    text-align: center;
}

.search{
    width: 36%;
    height: 80%;
    background-color: antiquewhite;
    border: 6px solid black;
    border-radius: 8%;
    justify-items: center;
    align-content: center;
}

.add{
    width: 18%;
    height: 80%;
    background-color: aqua;
    border: 6px solid black;
    border-radius: 8%;
    justify-items: center;
}


.secondLine__Text1{
    width: 15%;
    height: 80%;
    color: dimgray;
    margin-top: 15px;
    font-size: 20px;
    flex-wrap: wrap;
}

.butt{
    width: 21%;
    height: 80%;
    background-color: lightgray;
    border: 6px solid black;
    border-radius: 8%;
    justify-items: center;
}


.research{
    width: 21%;
    height: 80%;
}

.plan1{
    background-color: darkslategrey;
    border: 6px solid black;
    border-radius: 8%;
}