.mainTime{
    width: 90vw;
    height: 90vh;
    border: 4px solid black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(102, 98, 98);
}
.mainTime_window{
    width: 50%;
    height: 50%;
    border: 2px solid black;
    border-radius: 160px;
    display: flex;
    align-items: center;
    background-color: rgb(234, 231, 231);
}
.time_sec{
    width: 90%;
    height: 30%;
    border-radius: 30px;
    font-size: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time_start{
    width: 50%;
    height: 10%;
    font-size: 30px;
    border-radius: 30px;
    background-color: rgb(21, 93, 21);
}
.time_stop{
    width: 50%;
    height: 10%;
    font-size: 30px;
    border-radius: 30px;
    background-color: rgb(155, 18, 18);
}
.reset_time{
    position: relative;
    left: 37%;
    bottom: 3%;
    border-radius: 30px;
    width: 15%;
    height: 10%;
    font-size: 30px;
    background-color: rebeccapurple ;
}