body {
    background-color: #747474;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.timer__inner {
    background-color: #535353;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.button {
    width: 100px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.button-start {
    background-color: #006f00;
}

.button-stop {
    background-color: #990000;
}

.button-reset{
    background-color: darkorange;
}

.timer__text {
    background-color: white;
    border-radius: 10px;
    color: rgb(57, 57, 57);
    padding: 20px;
    width: 80px;
    text-align: center;
    font-size: 20px;
}